.panel{
    margin: 0 auto;
}

.margin-center {
    margin: 0 auto;    
}
.row {
    min-width: 100%;
}

.tabs .tab-title.active a  {
    background-color: #DFDFDF;
}
.tabs input ,.tabs button {
    margin-top: 3px;
    margin-left: 20px;
    margin-bottom: 0px;
}